.git
.gitignore
.pytest_cache
.ruff_cache
.mypy_cache
.pyre
.tox
.nox
.cache
__pycache__
*.py[cod]
*$py.class
.venv
venv
env
ENV
build
dist
*.egg-info
htmlcov
.coverage
.coverage.*
coverage.xml
*.log
.text.env
.env.*
Dockerfile
docker-compose.yml
postgres_data/
